extends layout

block content
	.container
		h1
			a(href='/') Twitch Audio
		.row
			.col-md-4.col-md-offset-4
				form(action='/', method='POST')
					.form-group
						input#channel.form-control(type='stream', placeholder='Stream Channel', name='streamer')
					button.btn.btn-default.center-block(type='submit') Submit		
		.row
			.col-md-4.col-md-offset-4
				div.playerControls
					button(id='play', type='submit').btn-xs.btn-default Pl
					button(id='pause', type='submit').btn-xs.btn-default Pa
					button(id='volumeDown', type='submit').btn-xs.btn-default -
					button(id='volumeUp', type='submit').btn-xs.btn-default +
					button(id='mute', type='submit').btn-xs.btn-default Mu
					span #{onOff} #{stream}
				#{iframe}#chat_embed(frameborder='0', scrolling='no', src='http://www.twitch.tv/#{stream}/chat', height='500', width='350')
			.col-md-4.playNo
				script(src='http://player.twitch.tv/js/embed/v1.js')
				div(id='PLAYER_DIV_ID')
				script.
					var options = {
					width: 500,
					height: 350,
					channel: "#{stream}"
					};
					var player = new Twitch.Player("PLAYER_DIV_ID", options);
					player.setVolume(0.5);
					player.setQuality("mobile");	

			
				
								
	


